.filter-group{
    height: 40px;
    max-width: 100px;
    background-color: #FFFFFF;
    border-radius: .375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}
.filter-group > span {
    font-size: 14px;
    color: rgba(0,0,0,0.5);
}
.filter-group > img {
    width: 20px;
}