.modal-create-plant-container{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.05);
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center; 
    z-index: 10000;   
}
.modal-create-plant{
    min-width: 35vw;
    max-height: 90vh;
    height: fit-content;
    position: relative;
    background-color: #FFFFFF;
    margin-top: 5vh;
    border-radius: .375rem;
    padding: 25px;
    border: 1PX solid rgba(0,0,0,0.1);
    overflow-y: scroll;
}
.modal-create-plant > .icon-close{
    width: 18px;
    position: absolute;
    top:10px;
    right: 10px;
    cursor: pointer;
}
.modal-create-plant::-webkit-scrollbar{
    width: 2px;
}
.modal-create-plant::-webkit-scrollbar-thumb{
   background-color: #F28705;
   border-radius: 50px;
}
.form-create-plant{
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    column-gap: 40px;
}
.group-3-column-create-plant{
    grid-column-start: 1;
    grid-column-end: 4;
}
.input-name-create-plant{
    max-width: 250px;
}
.input-characteristis-create-plant{
    max-width: 350px;
}
.input-price-create-plant{
    max-width: 200px;
}
.input-plant-type-create-plant{
    max-width: 300px;
    cursor: pointer;
}
.button-create-plant{
   margin-top: 20px; 
}
.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.group-input-radio-new-plant{
    width: 50px;
    height: 22px;
    border-radius:30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: ease 0.5s;
    border: var(--bs-border-width) solid var(--bs-border-color);
}
.group-input-radio-new-plant > div{
    width: 16px;
    height: 16px;
    background-color: rgba(0,0,0,0.1);
    margin: 0 2px;
    border-radius: 50%;
    transition: ease 0.5s;
}
.group-input-radio-new-plant.active{
    background-color: #F28705;
    transition: ease 0.5s;
}
.group-input-radio-new-plant.active > div{
    background-color: #FFFFFF;
    margin-left: calc(100% - 18px);
    transition: ease 0.5s;
}
.display-flex-radio-group{
    display: flex;
    column-gap: 15px;
}